{{- $email := promptStringOnce . "email" "Email address" "sandorrobertk94@gmail.com" -}}
{{- $fullname := promptStringOnce . "name" "Full name" "Robert Sandor" -}}

[data.user]
email = {{ $email | quote }}
fullname = {{ $fullname | quote }}

[data.terminal]
font = "JetBrainsMono Nerd Font Mono"
fontSize = {{ if eq .chezmoi.os "darwin" }} 16 {{ else }} 14 {{ end }}
shellPath = {{ if eq .chezmoi.os "darwin" }} "/opt/homebrew/bin/fish" {{ else }} "/usr/bin/fish" {{ end }}

[diff]
command = "delta"
pager = "less -FR"
