{{- $email := promptString "email" "sandorrobertk94@gmail.com" -}}
{{- $fullname := promptString "fullname" "Robert Sandor" -}}

{{- $hostTypeChoices := list "desktop" "server" -}}
{{- $hostType := promptChoice "hostType" $hostTypeChoices -}}

[data]
hostType = {{ $hostType | quote }}

[data.user]
email = {{ $email | quote }}
fullname = {{ $fullname | quote }}

[data.terminal]
font = "JetBrainsMono Nerd Font Mono"
fontSize = {{ if eq .chezmoi.os "darwin" }} 14 {{ else }} 12 {{ end }}

[diff]
command = "delta"
pager = "less -FR"

[merge]
    command = "nvim"
    args = [
        "-d",
        {{ printf "%q" "{{ .Destination }}" }},
        {{ printf "%q" "{{ .Source }}" }},
        {{ printf "%q" "{{ .Target }}" }},
    ]
