font-family = {{ .terminal.font }}
font-size = {{ .terminal.fontSize }}
adjust-cell-height = 20%
font-thicken = true

theme = catppuccin-mocha

command = {{ .terminal.shellPath }}

window-padding-balance = true
window-padding-x = 8
window-padding-y = 8

window-decoration = false

macos-option-as-alt = true
