[core]
	editor = "nvim"
	pager = "delta"

[delta]
	features = "catppuccin-mocha"

[init]
	defaultBranch = "main"

[interactive]
	diffFilter = "delta --color-only"

[pull]
	rebase = true

[user]
	email = "{{ .user.email }}"
	name = "{{ .user.fullname }}"

[include]
	path = "~/.config/git/catppuccin.gitconfig"
