[core]
	editor = "nvim"
	pager = "delta"

[delta]
  features = catppuccin-mocha
  navigate = true
  dark = true

[init]
	defaultBranch = "main"

[interactive]
	diffFilter = "delta --color-only"

[pull]
	rebase = true

[user]
	email = {{ .user.email | quote }}
	name = {{ .user.fullname | quote }}

[include]
	path = "~/.config/git/catppuccin.gitconfig"
