import = [
  # uncomment the flavour you want below:
  # '~/.config/alacritty/catppuccin-mocha.toml'
  '~/.config/alacritty/catppuccin-macchiato.toml',
]

[window]
padding.x = 3
padding.y = 3
dynamic_padding = true

title = 'Alacritty'
dynamic_title = false

{{ if eq .chezmoi.os "darwin" }}
decorations = "buttonless"
option_as_alt = 'Both'
{{ else }}
decorations = "full"
{{ end }}

[font]
normal.family = 'MonaspiceNe Nerd Font'
{{ if eq .chezmoi.os "darwin" }}
size = 14
{{ else }}
size = 11
{{ end }}
offset.y = 2
