import = [
  '~/.config/alacritty/catppuccin-macchiato.toml',
]

{{ if eq .chezmoi.os "darwin" }}
shell = "/opt/homebrew/bin/fish"
{{- else -}}
shell = "/usr/bin/fish"
{{ end }}

[window]
padding.x = 3
padding.y = 3
dynamic_padding = true

title = 'Alacritty'
dynamic_title = false


decorations = '{{ if eq .chezmoi.os "darwin" }}buttonless{{ else }}full{{ end }}'
option_as_alt = 'Both'

[font]
normal.family = 'JetBrainsMono Nerd Font'
size = {{ if eq .chezmoi.os "darwin" }}14{{ else }}11{{ end }}
offset.y = 2

# vi: ft=toml
